<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/home.css">
        <!-- Primary Meta Tags -->
        <title>Attendance Manager</title>
        <meta name="title" content="Attendance Manager">
        <meta name="description" content="Easily keep track of your course attendance.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://metatags.io/">
        <meta property="og:title" content="Attendance Manager">
        <meta property="og:description" content="Easily keep track of your course attendance.">
        <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://metatags.io/">
        <meta property="twitter:title" content="Attendance Manager">
        <meta property="twitter:description" content="Easily keep track of your course attendance.">
        <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

</head>
<body>
        <div class="container">
                <div class="row" style="padding-bottom: 50px;">
                        <div class="col" >
                                <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                                        <a class="navbar-brand" href="#">
                                                <img src="/img/image.png" width="30" height="30"/>
                                                Attendance Manager</a>
                                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarNav">
                                                <ul class="navbar-nav">
                                                <li class="nav-item active" >
                                                        <a class="nav-link" href="/u/">Home</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="/u/profile">Profile</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="/u/report">Report</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="/u/logout">Logout</a>
                                                </li>

                                                </ul>
                                        </div>
                                </nav>
                        </div>
                </div>

                <div class="row">
                        <div class="col-12">
                                <div class="jumbotron-fluid" style="padding-top: 50px;">
                                        <h5 class="display-4">Hello, <%= user %>!</h5>
                                        <p class="lead">Welcome to Attendance Manager. To add a bunked class, click on the corresponding card.</p>
                                        <hr class="my-4">
                                </div>
                        </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3">
                        <% if(locals.courses) { %>
                        <% courses.forEach((course) => { %>
                        <div class="col mb-4">
                                <div class="card att-card  my-5 shadow-lg" onclick="showModal(this)" id="<%= course.name%>-name">
                                        <div class="card-header att-head rounded">
                                                <h6 class="card-title" id="title1"> <%= course.name %> </h6>
                                        </div>
                                        <div class="card-body att-body rounded-lg" >
                                                <h4 id="<%= course.name%>-num"><%= course.no_bunked %> classes bunked!</h4>
                                        </div>
                                </div>
                        </div>
                        <% });} %>
                </div>
                <div class="modal fade" id="modalBunk" tabindex="-1" role="dialog" >
                        <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">Do you want to bunk this class?</div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <button type="button" class="btn btn-primary" onclick="bunk()">Yes</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
        <script src="js/home.js"></script>
</body>
